* {
  background: rgb(167, 76, 63);
}

.cup {
  position: absolute;
  bottom: 10px;
  background: #ffae1f;
  width: 25vw;
  height: 10vh;
}

.falling-item {
  position: absolute;
  width: 10vw;
  height: 5vh;
}

.coffee-bean {
  background: rgba(124, 37, 22, 0.68);
}

.milk {
  background: rgb(255, 237, 211);
}
